@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}
@layer components {
    .text-title {
        @apply font-extrabold text-xl pl-6 relative before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2 before:w-3 before:h-3 before:bg-gradient-to-br before:from-blue-600 before:to-indigo-500 before:rounded-full sm:text-2xl;
    }

    .text-paragraph {
        @apply leading-loose text-justify indent-6 text-sm sm:leading-loose sm:text-base;
    }

    .text-highlight {
        @apply underline underline-offset-4 decoration-2 decoration-blue-600 decoration-dashed dark:decoration-blue-500;
    }
}
@layer utilities {}

[x-cloak] {
    @apply !hidden;
}

#message-card {
    animation-name: growing;
    animation-duration: 1s;
    animation-direction: linear forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}

@keyframes growing {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}
